@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

textarea {
  background: #222224;
  font-size: 1em;
  padding: 0.5em 1em;
  line-height: 0;
  color: #e1e1e1;
}

input {
  background: transparent;
  font-size: 1em;
  padding: 0.5em 1em;
  line-height: 0;
  color: #222224;
  width: 100%;
}
